# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Idea
.idea
cmake-build-debug/

# Visual Studio
.vs
vs17/x64/*
CMakeSettings.json

# Assets
game/assets/files/*


# ext libs
fom_engine/ext_libs/lua/lua535vc15_64
fom_engine/ext_libs/lua/lua535vc15_64_shared
